.about {
  padding-top: 3rem;
  margin: 0 1.5rem;
}

.about>.upImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 4rem;
}

.about>.upImage>img {
  width: 65rem;
  border-radius: 2.6325rem;
}

.about>.contentAbt {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 4rem;
}

.about>.contentAbt>h1 {
  color: #005792;
  font-family: Arial;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about>.contentAbt>p {
  color: #1e1e1e;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2rem 0;
}

@media only screen and (max-width: 1176px) {
  .about>.upImage>img {
    width: 55rem;
  }

  .about>.contentAbt {
    margin: 2rem;
  }

  .about>.contentAbt>h1 {
    font-size: 2rem;
  }

  .about>.contentAbt>p {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 900px) {
  .about>.upImage>img {
    width: 45rem;
  }

  .about>.contentAbt {
    margin: 2rem;
  }

  .about>.contentAbt>h1 {
    font-size: 1.75rem;
  }

  .about>.contentAbt>p {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .about>.upImage>img {
    width: 30rem;
  }

  .about>.contentAbt {
    margin: 2rem;
  }

  .about>.contentAbt>h1 {
    font-size: 1.5rem;
  }

  .about>.contentAbt>p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .about>.upImage>img {
    width: 20rem;
  }

  .about>.contentAbt {
    margin: 2rem;
  }

  .about>.contentAbt>h1 {
    font-size: 1.25rem;
  }

  .about>.contentAbt>p {
    font-size: 1rem;
  }
}