.home {
    padding-top: 9.5625rem;
    
}

.dit-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dit-image img {
    display: block;
    margin: 0 auto;
    width: 94%;
    height: 40rem;

}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.hdg{
    font-size: 3.5rem;
    color: black;
}

.container1{
    display: flex;
    align-items: flex-start;
    
  }
  
  .image1{
    margin: -40px 0px 100px 0px;
    width: 30%;
  }
  
  .content1{
    flex: 1;
    margin-top: 260px;
    letter-spacing: 0.1em;
    width: 30%;
  }
  
.header{
    margin-bottom: 20px;
    font-size: 1.9rem;
}

.paragraph{
    line-height: 1.5;
    font-size: 1.3rem;
    width: 80%;
}

.container2{
    display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: -150px;
  

}

.image2{
    margin: -40px 0px 100px 20px;
    width: 30%;
    float: right;

}

.content2{
    flex: 1;
    margin-right: 100px;
    width: 30%;
    margin-top: 90px;
    letter-spacing: 0.1em;
}

.header2{
    text-align: right;
    margin-bottom: 20px;
    font-size: 1.9rem;
    margin-right: 12px;
}
.paragraph2{
    text-align: right;
    line-height: 1.5;
    font-size: 1.3rem;
    width: 85%;
    margin-left: 130px;
}
#succ{
    margin-top: -100px;
}