
.navcontainer {
    display: flex;
    justify-content: space-between;
    background-color: #005792;
    color: white;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    overflow: hidden;
    height: 6.5625rem;
    position:absolute;
    top: 0px;
    z-index: 100;
}

li::marker {
    color: #005792;
}

.headingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imgdiv {
    width: 35%;
}

.headingcontainer>li {
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar>.navcontainer>.headingcontainer>li>a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}

.navbar>.navcontainer>.headingcontainer>li>.underline {
    width: 2.875rem;
    height: 0.4375rem;
    border-radius: 0.5625rem;
}

.navbar>.navcontainer>.headingcontainer>li>a:hover {
    color: #53CDE2;
}

.navbar>.navcontainer>.headingcontainer>.active>a {
    color: #53CDE2;
}

.navbar>.navcontainer>.headingcontainer>.active>.underline {
    background: #53CDE2;
}


/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li>a{
        display: none;
    }
} */
/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>.active>a {
    display: none;
}
} */
.burguricon{
    display: none;
    width: 100%;
}
@media only screen and (max-width: 1176px){
    .burguricon{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 5rem;
        margin-right: 8rem;
    }
}

/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>.active>.underline {
    display: none;
}
} */
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer {
    margin-right: 3rem;
}
}
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li {
    margin: 0.5rem;
}
}

@media  only screen and (max-width: 1176px){
.headingcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #005792;
   position: fixed;
   top: 90px;
   right: 0px;
   width: 300px;
   height: 35vh;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
}
@media screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li>a{
        margin-top: 1.2rem;
    }
}
    
/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li{
        display: none;
    }
    .navbar>.navcontainer>.burguricon{
        display: flex;
        cursor: pointer;
    }
    .navbar>.navcontainer>img{
        width: 4rem;
    }
} */
    










.headingcontaineropen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imgdiv {
    width: 35%;
}

.headingcontaineropen>li {
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar>.navcontainer>.headingcontaineropen>li>a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}

.navbar>.navcontainer>.headingcontaineropen>li>.underline {
    width: 2.875rem;
    height: 0.4375rem;
    border-radius: 0.5625rem;
}

.navbar>.navcontainer>.headingcontaineropen>li>a:hover {
    color: #53CDE2;
}

.navbar>.navcontainer>.headingcontaineropen>.active>a {
    color: #53CDE2;
}

.navbar>.navcontainer>.headingcontaineropen>.active>.underline {
    background: #53CDE2;
}


/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li>a{
        display: none;
    }
} */
/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>.active>a {
    display: none;
}
} */
.burguricon{
    display: none;
    width: 100%;
}
@media only screen and (max-width: 1176px){
    .burguricon{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 5rem;
        margin-right: 8rem;
    }
}

/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>.active>.underline {
    display: none;
}
} */
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer {
    margin-right: 3rem;
}
}
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontaineropen>li {
    margin: 0.5rem;
}
}

@media  only screen and (max-width: 1176px){
.headingcontaineropen {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #005792;
   position: fixed;
   top: 90px;
   right: -1100px;
   width: 300px;
   height: 35vh;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
}
@media screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontaineropen>li>a{
        margin-top: 1.2rem;
    }
}
    
/* @media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li{
        display: none;
    }
    .navbar>.navcontainer>.burguricon{
        display: flex;
        cursor: pointer;
    }
    .navbar>.navcontainer>img{
        width: 4rem;
    }
} */
    

