
.navcontainer {
    display: flex;
    justify-content: space-between;
    background-color: #005792;
    color: white;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
    height: 6.5625rem;
    position:absolute;
    top: 0px;
    z-index: 100;
}

li::marker {
    color: #005792;
}

.headingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imgdiv {
    width: 35%;
}

.headingcontainer>li {
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar>.navcontainer>.headingcontainer>li>a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}

.navbar>.navcontainer>.headingcontainer>li>.underline {
    width: 2.875rem;
    height: 0.4375rem;
    border-radius: 0.5625rem;
}

.navbar>.navcontainer>.headingcontainer>li>a:hover {
    color: #53CDE2;
}

.navbar>.navcontainer>.headingcontainer>.active>a {
    color: #53CDE2;
}

.navbar>.navcontainer>.headingcontainer>.active>.underline {
    background: #53CDE2;
}
@media only screen and (max-width: 1176px){
    .imgdiv{
        display: none;
    }
}
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li>a{
        display: none;
    }
}
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>li>a{
        display: none;
    }
}
@media only screen and (max-width: 1176px){
    .navbar>.navcontainer>.headingcontainer>.active>a {
    display: none;
}
}
.burguricon{
    display: none;
    width: 100%;
}
@media only screen and (max-width: 1176px){
    .burguricon{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 5rem;
    }
}