.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #005792;
    color: white;
    padding: 2rem;
}

.footer>.footerIconLogo {
    display: flex;
    gap: 4.07rem;
}

.footer>.footerIconLogo>img {
    width: 2.55531rem;
    height: 2.54031rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.footer>.teamLink {
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.footer>.footerLogo {
    margin: 1.5rem 0;
    display: flex;
    gap: 2.07rem;
    justify-content: center;
    align-items: center;
}

.footer>.footerLogo>.ieeeLogo {
    width: 16.8125rem;
    height: 2.512rem;
}

.footer>.footerLogo>.ditLogo {
    width: 5.79163rem;
    height: 4.66775rem;
}

.footer>.copyright {
    color: rgba(255, 255, 255, 0.80);
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (max-width: 590px){
    .footer>.footerIconLogo {
        gap: 3.07rem;
    }

    .footer>.copyright {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 520px){
    .footer>.footerIconLogo {
        gap: 2.6rem;
    }

    .footer>.footerLogo>.ieeeLogo {
        width: 14.8125rem;
        height: 2.512rem;
    }

    .footer>.footerLogo>.ditLogo {
        width: 4.79163rem;
        height: 4.66775rem;
    }

    .footer>.teamLink {
        font-size: 1.3rem;
    }

    .footer>.footerIconLogo>img {
        width: 2.25531rem;
        height: 2.24031rem;
    }

    .footer>.footerLogo {
        margin: 1rem 0;
    }

    .footer>.copyright {
        font-size: 1.0rem;
    }

}

@media only screen and (max-width: 405px){

    .footer{
        padding: 1rem;
    }

    .footer>.footerIconLogo>img {
        width: 2.05531rem;
        height: 2.04031rem;
    }

    .footer>.footerLogo>.ditLogo {
        width: 3.79163rem;
        height: 4.66775rem;
    }

    .footer>.footerLogo>.ieeeLogo {
        width: 10.8125rem;
        height: 2.512rem;
    }

    .footer>.footerIconLogo {
        gap: 1.6rem;
    }

    .footer>.teamLink {
        font-size: 1rem;
    }

    .footer>.copyright {
        font-size: 0.9rem;
    }

}