* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("./assets/backgroundImage.png");
    background-repeat: repeat-y;
    background-size: 100vw;
}
.membershipButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100vw; */
    margin: 1.3rem;
    position: fixed;
    top: 87vh;
    right: 1rem;
}

.membershipButton > button:hover{
    scale: 1.1;
}

.membership {
    width: fit-content;
    padding: 1rem;
    border-radius: 2.16963rem;
    background: #005792;
    border: 2px solid white;
    cursor: pointer;
    color: #FFF;
    font-family: Arial;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width:768px){
    .membership{
        font-size: 0.8rem;
    }
}