.event-page-container {
    display: flex;
    flex-direction: column;
    padding: 9.5625rem 0 0 2rem;
}

.event-content-section {
    padding: 1rem;
    margin-bottom: 2rem;
}

.event-hori-cards-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
}

.hori-card {
    width: 18rem;
    height: 22rem;
    box-shadow: 2px 2px 20px lightblue;
    border-radius: 0.5rem;
    margin: 1rem;
}

.hori-card .image {
    height: 10rem;
    background-color: #157fb2;
    border-radius: 0.5rem 0.5rem 0 0;
}

.hori-card .image img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.hori-card .des {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 10rem;
}

.hori-card-btn {
    text-decoration: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 14rem;
    background-color: #157fb2;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem lightblue;
    text-align: center;
}

.hori-card-btn:hover {
    background-color: #086a97;
    color: white;
    cursor: pointer;
}

.hori-card-btn:active {
    transform: translateY(0.1rem);
    box-shadow: none;
}

.event-ver-cards-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-self: center;
    margin-bottom: 2rem;
}

.ver-card {
    display: flex;
    flex-direction: column;
    width: 70rem;
    box-shadow: 2px 2px 20px lightblue;
    border-radius: 0.5rem;
    margin: 3rem;
    position: relative;
}

.ver-card .image {
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: 12rem;
    width: 12rem;
    background-color: #157fb2;
    border-radius: 0.5rem;
}

.ver-card .des {
    margin-left: 12rem;
    padding: 1rem;
}

.read-more-less-btn {
    background-color: #157fb2;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem lightblue;
}

.read-more-less-btn:hover {
    background-color: #086a97;
}

.read-more-less-btn:active {
    transform: translateY(0.1rem);
    box-shadow: none;
}