.event-page-container {
  display: flex;
  flex-direction: column;
  padding: 3.5625rem 0 0 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.event-page-container h1 {
  padding: 2rem;
}

.event-content-section {
  padding-left: 2rem;
  padding-right: 7rem;
  margin-bottom: 2rem;
}

.event-hori-cards-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

.hori-card {
  width: 18rem;
  height: 20rem;
  box-shadow: 2px 2px 20px rgb(119, 190, 214);
  border-radius: 0.5rem;
  margin: 1rem;
}

.hori-card .image {
  height: 10rem;
  background-color: #157fb2;
  border-radius: 0.5rem 0.5rem 0 0;
}

.hori-card .image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.hori-card .des {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 8rem;
}

/*.hori-card-btn {
  text-decoration: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 14rem;
  background-color: #157fb2;
  color: white;
  box-shadow: 0.1rem 0.1rem 0.1rem lightblue;
  text-align: center;
}

.hori-card-btn:hover {
  background-color: #086a97;
  color: white;
  cursor: pointer;
}

.hori-card-btn:active {
  transform: translateY(0.1rem);
  box-shadow: none;
}*/

.eventVerCardsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-self: center;
  margin-bottom: 2rem;
}

.ver-card {
  display: flex;
  flex-direction: column;
  width: 60rem;
  /*height: 13rem;*/
  box-shadow: 2px 2px 20px rgb(119, 190, 214);
  border-radius: 0.5rem;
  margin: 2rem 4rem;
  position: relative;
}

.ver-card .image {
  position: absolute;
  top: -1rem;
  left: -1rem;
  height: 12rem;
  width: 12rem;
  background-color: #157fb2;
  border-radius: 0.5rem;
}

.ver-card .des {
  margin-left: 10rem;
  padding: 0.5rem 2rem;
}

/*.read-more-less-btn {
  background-color: #157fb2;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 8rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #086a9773;
}

.read-more-less-btn:hover {
  background-color: #086a97;
}

.read-more-less-btn:active {
  transform: translateY(0.1rem);
  box-shadow: none;
}*/

@media screen and (max-width: 1176px) {
  .ver-card {
    width: 50rem;
  }
}

@media screen and (max-width: 1032px) {
  .ver-card {
    width: 40rem;
  }
}

@media screen and (max-width:850px) {
  .ver-card {
    width: 30rem;
  }
}

@media screen and (max-width: 675px) {
  .event-content-section {
    padding-right: 2rem;
  }

  .ver-card {
    width: 30rem;
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 580px) {
  .event-content-section {
    padding-right: 2rem;
  }

  .ver-card {
    width: 18rem;
    margin: 2rem 1rem;
  }

  .ver-card .image {
    top: -1rem;
    height: 12rem;
    width: 20rem;
  }

  .ver-card .des {
    margin-top: 12rem;
    margin-left: 0;
    padding: 0.5rem 2rem;
  }
}